.section {
    font-size: 26px;
    line-height: 42px;
    color: #898989;
    position: relative;
    z-index: 10;
    background-color: $white;

    &.intro {
        transition: all 1500ms ease;
        //background: transparent url(../img/bg.jpg) no-repeat 0 0;
        color: $white;
        h1 {
            font-size: 42px;
            font-weight: 100;
            line-height: 1.1;
            letter-spacing: 2px;
        }
    }

}

.emphasis {
    color: #403e41;
    font-size: 1.15em;
    font-weight: 100;
    line-height: 1.3;
    text-transform: uppercase;
    transition: all 1s;
    margin-bottom: 40px;
    strong {
        color: $primary;
        font-weight: 300;
        text-transform: uppercase;
    }
}

.main-content {
    p {
        font-weight: 100;
        margin-bottom: 25px;
    }
}

@media only all and (min-width: 700px) {
  .section.intro {
    height: 100vh;
  }
}