$primary: #000;
$link-color: $primary;

$body-color: #898989;

$siteRed: #ed1953;
$siteBlue: #7cd1e4;
$sitePink: #f38bb4;
$siteYellow: #f4ed24;
$sitePurple: #3e60ad;
$siteGreen: #8AC89F;
$siteDarkBlue: #1D4F9E;

$font-size-base: 1.25rem;

$font-family-monospace: base-mono-narrow, SFMono-Regular, "Courier New", monospace;
$font-family-base: $font-family-monospace;
$font-weight-base: 400;